solutions/GithubAsset/Workflows/PopulateEnvironmentChoices-29795D79-C074-ED11-81AB-0022482DBB57.json
{
  "properties": {
    "connectionReferences": {
      "shared_powerappsforappmakers": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedpowerappsforappmakers_e68a8"
        },
        "api": {
          "name": "shared_powerappsforappmakers"
        }
      },
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_e78da"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "834b35f3-2b77-4d9a-8a49-fcacc0cc4658"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Get_Environments": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "3b2933a0-026f-44fd-a1b8-018f42578c98"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_powerappsforappmakers",
              "operationId": "Get-Environments",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_powerappsforappmakers"
            },
            "parameters": {
              "api-version": "2016-11-01",
              "$top": 250
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_Environments')?['body/value']",
          "actions": {
            "Add_a_new_row": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "259df0ce-5c03-4c78-9a6a-420e6d29ec94"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "new_environments",
                  "item/new_name": "@items('Apply_to_each')?['properties/displayName']",
                  "item/new_targetenv": "@items('Apply_to_each')?['name']",
                  "item/new_targettenant": "@items('Apply_to_each')?['properties/createdBy/tenantId']"
                },
                "authentication": {
                  "type": "Raw",
                  "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
                }
              }
            }
          },
          "runAfter": {
            "Get_Environments": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bf65895b-e550-4a1a-93b9-e0dc7dfba054"
          },
          "type": "Foreach"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}